.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: $ff-default;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @include hover {
    opacity: 0.6;
  }

  &:not(.crutch):active {
    opacity: 0.2;
  }
}
