.coach-card {
  width: 100%;
  filter: drop-shadow(0 0 35px rgba($color-gulf-blue, 0));
  will-change: filter;
  transition: filter $trans-default;
  user-select: none;

  @include focus {
    outline: 1px solid $color-default-black;
  }
}

// обертка для фиксации соотношения сторон
.coach-card__wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: calc(294 / 260 * 100%);
  background-color: $color-gulf-blue;

  @include vp-1199 {
    padding-bottom: calc(294 / 268 * 100%);
  }

  @include vp-767 {
    padding-bottom: calc(274 / 226 * 100%);
  }
}

// фото тренера
.coach-card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// обертка для позиционирования имени на фото
.coach-card__name-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  height: 100%;
  padding: 11.54%;
  padding-bottom: 23px;
}

// имя тренера снаружи и внутри карточки
.coach-card__name {
  margin: 0;
  font-family: $ff-default;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: $color-default-white;
  text-align: center;
  opacity: 1;
  transition: opacity $trans-default;
}

// обертка внутренней информации в карточке
.coach-card__info-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color-sapphire, 0.89);
  color: $color-default-white;
  opacity: 0;
  will-change: opacity;
  transition: opacity $trans-default;
}

.coach-card__scrollable {
  width: 100%;
  height: 100%;
  padding: 19.5%;
  padding-bottom: 18px;
  overflow: auto;
  mask-image: linear-gradient(
    0deg,
    rgba($color-default-white, 0) 5%,
    rgba($color-default-white, 1) 18% 80%,
    rgba($color-default-white, 0) 90%
  );

  @include vp-767 {
    padding: 21.92%;
  }

  @include vp-767 {
    padding: 19% 13%;
    padding-bottom: 18%;
  }

  @include focus {
    mask-image: none;
    outline: 3px solid $color-default-black;
  }

  // стили для скроллбара
  scrollbar-color: rgba(155, 155, 155, 0.8);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.8);
    border-radius: 20px;
    border: transparent;

    &:hover {
      background-color: rgba(155, 155, 155, 0.6);
    }

    &:active {
      background-color: rgba(155, 155, 155, 0.4);
    }
  }
}

// специализация тренера
.coach-card__spec {
  margin: 0;
  margin-top: -5px;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

// список достижений
.coach-card__achievement {
  margin-top: 34px;
  margin-left: 15.5px;
  margin-right: -7px;
  padding: 0;
  list-style-type: disc;

  & li {
    padding-left: 5px;
    font-size: 14px;
    line-height: 150%;
  }

  & li:not(:last-child) {
    margin-bottom: 12px;
  }
}

// состояния для открытия внутренней информации
.coach-card:hover,
.coach-card:focus-within {
  outline: none;
  filter: drop-shadow(0 0 35px rgba($color-gulf-blue, 0.17));

  & p.coach-card__name {
    opacity: 0;
  }

  .coach-card__info-wrapper {
    opacity: 1;
    outline: none;
  }
}
