.contacts {
  padding: 56px 0 70px;
  padding-left: 17px;

  @include vp-1199 {
    padding: 70px 0;
  }

  h2 {
    margin: 0;
    margin-bottom: 38px;
    font-size: 54px;
    line-height: 65px;

    @include vp-1199 {
      margin-top: -8px;
      margin-bottom: 32px;
      font-weight: 600;
      font-size: 42px;
      line-height: 50px;
    }
  }
}

.contacts__container {
  @include vp-1199 {
    width: fit-content;
    margin: 0 auto;
    padding-left: 24px;
  }
}

.contacts__list {
  position: relative;
  display: block;
  column-count: 2;
  column-width: auto;
  column-gap: 120px;
  margin: 0;
  margin-left: 4px;
  margin-right: -4px;
  margin-bottom: -5px;
  padding: 0;

  @include vp-1199 {
    // width: 500px;
    width: fit-content;
    margin-left: 0;
    column-gap: 96px
  }

  &::before {
    position: absolute;
    display: block;
    width: 1px;
    height: 90%;
    top: 6px;
    left: 50%;
    background-color: $color-light-slate-grey;
    content: "";
  }
}

.contacts__wrapper {
  width: fit-content;
  margin-bottom: 18px;

  &:nth-child(2n) {
    margin-bottom: 0;
  }

  dt {
    width: fit-content;
    margin: 0;
    margin-bottom: 3px;
    padding: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;

    @include vp-1199 {
      margin-bottom: 6px;
      font-size: 20px;
    }
  }

  dd {
    width: fit-content;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 21px;

    @include vp-1199 {
      font-size: 18px;
      line-height: 152.34%;
    }
  }

  a {
    $link-color: $color-sapphire;
    position: relative;

    &::after {
      position: absolute;
      bottom: -4px;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: rgba($link-color, 0.8);
      transform: scale(0);
      opacity: 0;
      transition: transform $trans-default, opacity $trans-default;
      content: "";
    }

    @include hover {
      &::after {
        transform: scale(1);
        opacity: 1;
      }
    }

    @include focus {
      outline: 3px solid $color-default-black;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
