.date {
  & dt {
    font-size: 18px;
    line-height: 150%;

    @include vp-1199 {
      margin-bottom: -1px;
      font-size: 12px;
    }
  }

  & dd {
    position: relative;
    margin: 0;
    margin-bottom: 8px;
    width: fit-content;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;

    @include vp-1199 {
      margin-bottom: 0;
      font-size: 24px;
    }

    &::before {
      position: absolute;
      top: 5px;
      display: block;
      width: 100%;
      height: 1px;
      background-color: $info-color;
      content: "";

      @include vp-1199 {
        top: 2px;
      }
    }

    &[data-day]::after {
      display: inline-block;
      width: min-content;
      margin-left: 8px;
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      content: attr(data-day);

      @include vp-1199 {
        margin-left: 4px;
        font-size: 10px;
        line-height: 110%;
      }
    }
  }
}
