.discount {
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;

  @include vp-1199 {
    padding-bottom: 50px;
  }

  @include vp-767 {
    max-width: 500px;
    padding: 70px 0;
    padding-bottom: 35px;
  }

  h2 {
    margin: 0;
    margin-bottom: 33px;
    font-size: 54px;
    line-height: 65px;
    text-align: center;

    @include vp-1199 {
      margin-top: -8px;
      margin-bottom: 41px;
      margin-right: 9px;
      font-size: 42px;
      line-height: 50px;
    }

    @include vp-767 {
      margin-top: -6px;
      margin-bottom: 43px;
      margin-right: 5px;
      font-size: 32px;
      line-height: 38px;
    }
  }
}

// список-таблица акций
.discount__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1199 {
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

// карточка акций
$main-color: $color-resolution-blue;

.discount__card {
  position: relative;
  height: 100%;
  min-height: 211px;
  color: $main-color;

  // декоративная рамка карточки
  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background: linear-gradient(160deg, #d10a42 0%, #00359f 100%);
    mask-image: url("data:image/svg+xml,%3Csvg width='100%' height='100%' viewBox='0 0 100% 100%'  fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0' y='0' width='100%' height='100%' stroke='black' stroke-width='14' fill='none' /%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    mask-clip: stroke-box;
    content: "";
  }
}

// наполение карточки
.discount__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px 35px;

  @include vp-767 {
    align-items: center;
    padding: 35px;
    text-align: center;
  }

  h3 {
    margin: 0;
    margin-top: 1px;
    margin-bottom: 3px;
    font-family: $ff-default;
    font-weight: 700;
    font-size: 26px;
    line-height: 150%;
    letter-spacing: unset;
    color: $main-color;
  }

  p {
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 140%;
  }

  a {
    position: relative;
    display: block;
    width: fit-content;
    margin: 0;
    margin-top: auto;
    margin-bottom: 3px;
    padding: 10px 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $main-color;
    opacity: 1;
    transition: opacity $trans-default;
    user-select: none;

    // декоративное подчеркивание ссылки
    &::after {
      position: absolute;
      left: 0;
      bottom: 8px;
      display: block;
      width: 100%;
      height: 1px;
      background-color: $main-color;
      content: "";
    }

    // состояния ссылки
    @include hover {
      opacity: 0.6;
    }

    @include focus {
      outline: 3px solid $color-default-black;
    }

    /* stylelint-disable-next-line */
    &:not(.crutch:hover):active {
      opacity: 0.2;
    }
  }
}

// выбираем акцентные ячейки
.discount__item:nth-child(6n + 1),
.discount__item:nth-child(6n + 5) {
  grid-row: auto / span 2;

  @include vp-1199 {
    grid-row: unset;
    grid-column: 1 / -1;
  }

  .discount__card {
    $main-color: $color-default-white;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "content image"
      "content image"
      "content image";
    color: $main-color;
    background-color: $color-torch-red;

    @include vp-1199 {
      grid-template-columns: 1fr 399px;
      min-height: 462px;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
      grid-template-areas:
        "content"
        "image";
      grid-template-rows: auto auto;
      min-height: 299px;
    }

    &::before {
      display: none;
    }

    .discount__content {
      grid-area: content;
      padding: 33px 45px;

      @include vp-767 {
        padding-top: 32px;
      }
    }

    h3 {
      margin-bottom: -1px;
      font-size: 28px;
      line-height: 156%;
      color: $main-color;

      @include vp-767 {
        margin-bottom: -6px;
      }
    }

    b {
      display: block;
      margin-top: -25px;
      font-weight: 700;
      font-size: 70px;
      line-height: 156%;
    }

    p {
      grid-area: text;
      font-size: 18px;
      line-height: 140%;

      @include vp-767 {
        margin-bottom: 20px;
      }
    }

    a {
      margin-bottom: 4px;
      font-size: 14px;
      line-height: 16px;
      color: $main-color;

      &::after {
        background-color: $main-color;
      }

      @include vp-767 {
        margin: 0;
        margin-bottom: 5px;
      }
    }
  }
}

.discount__image {
  position: relative;
  grid-area: image;
  align-self: top;
  justify-self: end;
  width: 100%;
  height: 100%;

  @include vp-767 {
    width: 100%;
    height: 0;
    padding-bottom: calc(299 / 290 * 100%);
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 40% 5%;
  }
}
