.features {
  padding: 97px 0 140px;
  background-color: $color-ghost-white;

  @include vp-1199 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 70px 0;
  }

  h2 {
    margin: 0;
    margin-left: 11px;
    margin-bottom: 55px;
    font-size: 54px;
    line-height: 65px;
    text-align: center;

    @include vp-1199 {
      margin-top: -9px;
      margin-left: 0px;
      margin-right: 22px;
      margin-bottom: 55px;
      font-size: 42px;
      line-height: 50px;
    }

    @include vp-767 {
      margin-top: -7px;
      margin-right: 17px;
      margin-bottom: 51px;
      font-size: 32px;
      line-height: 38px;
    }
  }
}

// список
.features__list {
  display: grid;
  grid-template-columns: 1fr 240px 1fr;
  grid-template-rows: min(236px);
  column-gap: 60px;
  width: calc(1040 / 1366 * 100%);
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: -165px; // хак для компенсации вертикальных отступов между карточками
  padding: 0;
  list-style-type: none;

  @include vp-1199 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 30px;
    row-gap: 50px;
    width: 100%;
    margin-bottom: 0;
    padding: 0 45px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    row-gap: 42px;
    padding: 0;
  }
}

// карточка
.features__item {
  position: relative;
  display: flex;
  margin-bottom: 165px;

  @include vp-1199 {
    margin: 0;
  }

  @include vp-767 {
    justify-content: center;
  }
}

// выбирает только первый столбец
.features__item:nth-child(2n + 2) {
  justify-content: flex-end;

  & .features__card {
    margin-right: -20px;

    @include vp-1199 {
      margin-right: 0;
    }
  }

  @include vp-767 {
    justify-content: center;
  }
}

//разделители между строками
.features__item:nth-child(2n + 4),
.features__item:nth-child(2n + 5) {
  &::before {
    position: absolute;
    left: 0px;
    top: -83px;
    display: block;
    width: 100%;
    height: 2px;
    background-color: $color-crimson;
    opacity: 0.2;
    content: "";
  }

  @include vp-1199 {
    &::before {
      display: none;
    }
  }
}

// акцентная фича
.features__item--accent {
  grid-column: 2/3;
  grid-row: 1 / 99; // хак для растягивания на всю колонку
  background-color: $color-resolution-blue;
  align-self: stretch;
  display: flex;
  align-items: center;
  width: unset;
  margin-left: 1px;
  margin-right: -1px;

  @include vp-1199 {
    grid-column: 1/-1;
    grid-row: 2/3;
    justify-self: center;
    justify-content: center;
    width: 442px;
    margin: 0;
    margin-top: 1px;
    margin-bottom: 4px;
  }

  @include vp-767 {
    grid-row: 3/4;
    width: 100%;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 7px;
    padding: 20px;
  }
}
