// обертка карточки
.features-card {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
    "value title"
    "value description";
  column-gap: 30px;
  max-width: 340px;
  height: fit-content;
  margin-bottom: -7px;

  @include vp-767 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "value"
      "title"
      "description";
    gap: 0;
    justify-items: center;
    width: 84%;
    max-width: unset;
    margin: 0;
    padding: 0 20px;
    text-align: center;
  }
}

// заголовок
.features-card__title {
  grid-area: title;
  margin: 0;
  margin-top: -6px;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;

  @include vp-1199 {
    margin: 0;
    margin-top: -12px;
    font-size: 20px;
  }

  @include vp-767 {
    margin-top: 6px;
    margin-bottom: 1px;
  }
}

// число - единица измерения
.features-card__value {
  grid-area: value;
  margin: 0;
  margin-top: -28px;
  font-size: 14px;
  line-height: 150%;
  text-transform: lowercase;
  color: $color-persian-blue;

  @include vp-1199 {
    margin: 0;
  }

  // число -число
  & b {
    display: block;
    margin-bottom: -21px;
    font-weight: 700;
    font-size: 71px;
    line-height: 150%;
    background: linear-gradient(156deg, #d10a42 20%, #0041ca 75%);
    /* stylelint-disable-next-line */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    @include vp-1199 {
      margin: 0;
      margin-top: -26px;
      margin-bottom: -18px;
      font-size: 58px;
    }

    @include vp-767 {
      margin-top: -22px;
      margin-bottom: -18px;
    }
  }
}

// описание
.features-card__description {
  grid-area: description;
  margin: 0;
  font-size: 16px;
  line-height: 140%;
  font-weight: 300;
}

// акцентная карточка
.features-card--accent {
  display: block;
  width: unset;
  margin: 0;
  margin-left: -1px;
  padding: 34px;
  text-align: center;
  color: $color-default-white;

  @include vp-1199 {
    width: 100%;
    max-width: 245px;
    margin: 0;
    padding: 30px;
  }

  @include vp-767 {
    width: 65%;
    max-width: unset;
    padding: 0;
  }

  .features-card__title {
    visibility: hidden;
  }

  .features-card__value {
    margin: 0;
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 26px;
    line-height: 150%;
    text-transform: capitalize;
    color: inherit;

    @include vp-1199 {
      margin-bottom: 13px;
      font-size: 22px;
    }

    @include vp-767 {
      margin-bottom: 8px;
    }

    & b {
      display: block;
      margin-top: -52px;
      margin-bottom: -16px;
      margin-right: 5px;
      font-weight: 700;
      font-size: 74px;
      line-height: 150%;
      background: unset;
      -webkit-text-fill-color: unset;

      @include vp-1199 {
        margin-top: -34px;
        margin-bottom: -19px;
      }

      @include vp-767 {
        margin-top: -38px;
        margin-bottom: -24px;
      }
    }
  }

  .features-card__description {
    grid-area: none;
    margin: 0;
    font-size: 16px;
    line-height: 150%;
    color: inherit;
    background: unset;

    @include vp-1199 {
      margin-bottom: 9px;
    }

    @include vp-767 {
      margin-bottom: 24px;
    }
  }
}
