.footer {
  padding: 44px 0;
  padding-bottom: 37px;
  color: $color-default-white;
  background-color: $color-black-russian;

  @include vp-1199 {
    padding-bottom: 39px;
  }
}

.footer__container {
  display: grid;
  grid-template-columns: 17.24% 1fr 17.24%;
  margin-top: -3px;

  @include vp-1199 {
    margin-top: 1px;
  }
}

.footer__logo {
  position: relative;
  display: block;
  width: 87px;
  margin-top: 10px;

  @include vp-1199 {
    width: 81px;
    margin-top: 3px;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &::before {
    position: absolute;
    top: -8px;
    bottom: -5px;
    left: -10px;
    right: -10px;
    display: block;
    border: 2px solid $color-default-white;
    content: "";
    opacity: 0;
    transition: opacity $trans-default;

    @include vp-1199 {
      bottom: 2px;
    }
  }

  @include hover {
    &::before {
      opacity: 1;
    }
  }

  @include focus {
    outline: 2px solid $color-light-slate-grey;
  }

  &:not(.crutch):active {
    opacity: 0.2;
  }
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__link {
  position: relative;
  display: block;
  margin: 4px 10px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 16px;
  color: inherit;

  @include vp-1199 {
    margin: 4px 5px;
  }

  &::before {
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    display: block;
    border: 2px solid $color-default-white;
    content: "";
    opacity: 0;
    transition: opacity $trans-default;
  }

  @include hover {
    &::before {
      opacity: 1;
    }
  }

  @include focus {
    outline: 2px solid $color-light-slate-grey;
  }

  &:not(.crutch):active {
    opacity: 0.2;
  }
}

.footer__social-list {
  margin: 0;
  justify-self: end;
  margin-right: 1px;

  @include vp-1199 {
    margin-right: -6px;
  }
}
