.hero {
  margin-top: -52px;
  margin-bottom: 51px;
  background-color: #572159;

  @include vp-1199 {
    margin-top: -17px;
    margin-bottom: 82px;
  }

  @include vp-767 {
    margin-top: 53px;
    margin-bottom: 80px;
  }
}

.hero__container {
  position: relative;
  padding-left: 19px;
  z-index: 3;
  display: flex;
  color: $color-default-white;

  @include vp-1199 {
    justify-content: center;
    padding-left: 0;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.hero__tag {
  grid-area: tag;
  justify-self: right;
  margin: 0;
  margin-right: 50px;
  margin-bottom: 15px;
  font-family: $ff-title;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    margin-right: 5px;
    margin-bottom: 8px;
    font-size: 34px;
    line-height: 41px;
  }

  @include vp-767 {
    font-size: 28px;
    line-height: 34px;
    margin-right: 3px;
    margin-bottom: 14px;
  }
}

.hero__content {
  flex-shrink: 0;
  width: auto;
  align-self: end;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-areas:
    "features tag"
    "features title"
    "features button";
  margin-bottom: 44px;

  @include vp-1199 {
    flex-grow: 1;
    max-width: 48%;
    grid-template-columns: auto auto;
    margin-bottom: 24px;
  }

  @include vp-767 {
    align-self: unset;
    width: 100%;
    max-width: 500px;
    grid-template-areas:
      "tag tag"
      "features title"
      "button button";
    margin-bottom: 0;
  }

  & h1 {
    grid-area: title;
    margin: 0;
    margin-bottom: 49px;
    font-size: 92px;
    line-height: 110px;
    text-align: right;
    letter-spacing: 0.05em;
    -webkit-text-stroke: 2px $color-default-white; // костыль из макета
    color: inherit;
    text-transform: uppercase;

    @include vp-1199 {
      margin-bottom: 36px;
      font-size: 72px;
      line-height: 86px;
      text-transform: unset;
    }

    @include vp-767 {
      margin-bottom: 24px;
    }
  }

  & ul {
    grid-area: features;
    justify-self: right;
    align-self: center;
    margin: 0;
    margin-top: 51px;
    margin-right: 17.5px;
    padding: 0;
    list-style-type: none;
    font-size: 14px;
    line-height: 150%;
    text-align: right;

    @include vp-1199 {
      width: fit-content;
      min-width: 113px;
      margin-top: 20px;
      margin-right: 26px;
    }

    @include vp-767 {
      justify-self: unset;
      align-self: start;
      margin-top: 78px;
      margin-bottom: 50px;
      margin-right: -10px;
    }
  }
}

.hero__btn {
  grid-area: button;
  justify-self: right;
  display: block;
  min-width: 234px;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: inherit;
  border: 4px solid #ffffff;
  user-select: none;

  @include focus {
    outline: 3px solid $color-default-black;
  }

  @include vp-1199 {
    min-width: 185px;
  }

  @include vp-767 {
    width: 100%;
    max-width: 500px;
    justify-self: center;
  }
}

.hero__image-container {
  flex-shrink: 1;
  width: 500px;
  margin-left: 64px;
  margin-right: 170px;

  @include vp-1199 {
    flex-shrink: 0;
    width: 324px;
    margin-left: 29px;
    margin-right: 0;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__image {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: calc(556 / 500 * 100%);

  @include vp-1199 {
    padding-bottom: calc(390 / 324 * 100%);
  }

  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
