.membership {
  position: relative;
  padding: 120px 0;
  background-color: $color-ghost-white;

  @include vp-1199 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 70px 0;
  }

  & h2 {
    margin: 0;
    margin-left: -5px;
    margin-bottom: 4px;
    font-size: 54px;
    line-height: 65px;
    text-align: center;

    @include vp-1199 {
      margin-left: -13px;
      margin-bottom: 7px;
      font-size: 42px;
      line-height: 50px;
    }

    @include vp-767 {
      margin-top: -7px;
      margin-left: -10px;
      margin-bottom: 7px;
      font-size: 32px;
      line-height: 38px;
    }
  }
}

.membership__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 40px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1199 {
    grid-template-columns: 1fr;
    width: 65.19%;
    margin: 0 auto;
  }

  @include vp-767 {
    gap: 35px;
    width: 100%;
    max-width: 450px;
  }
}
