.membership-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  min-height: 448px;
  padding: 68px 77px;
  padding-bottom: 169px;
  background-color: $color-default-white;

  @include vp-767 {
    min-height: 384px;
    padding: 57px 42px;
    padding-bottom: 151px;
  }

  & dl {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  // общий текст
  & dd {
    margin: 0;
    text-align: center;
  }

  // заголовок
  & dd:first-of-type {
    margin-top: -8px;
    margin-bottom: 11px;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;

    @include vp-767 {
      font-size: 22px;
      line-height: 24px;
    }
  }

  // цена
  & dd:last-of-type {
    position: relative;
    z-index: 0;
    margin-top: auto;
    font-weight: 700;
    font-size: 60px;
    line-height: 150%;
    color: $color-egyptian-blue;

    @include vp-767 {
      font-size: 48px;
      line-height: 150%;
    }

    // тень цены
    &::before {
      position: absolute;
      z-index: -1;
      top: 23%;
      left: 49%;
      display: block;
      width: auto;
      font-weight: 700;
      font-size: 100px;
      line-height: 150%;
      color: rgba($color-whisper, 0.48);
      transform: translate(-50%, -50%);
      content: attr(data-price);

      @include vp-767 {
        font-size: 80px;
        line-height: 150%;
      }
    }

    // знак рубля
    &::after {
      display: inline-block;
      width: 30px;
      height: 42px;
      margin-left: 15px;
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='42' viewBox='0 0 30 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 17H6V23H0V17Z' fill='%23102654'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.65854 28.3214V18H9.65854V28.3214H21V34.3214H9.65854V42H3.65854V34.3214H0V28.3214H3.65854Z' fill='%23102654'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.5 6H10V17H18.5C21.5376 17 24 14.5376 24 11.5C24 8.46243 21.5376 6 18.5 6ZM4 0V23H18.5C24.8513 23 30 17.8513 30 11.5C30 5.14873 24.8513 0 18.5 0H4Z' fill='%23102654'/%3E%3C/svg%3E%0A");
      background-size: contain;
      content: "";

      @include vp-767 {
        width: 24px;
        height: 33px;
        margin-left: 10px;
      }
    }
  }

  // декоративная рамка карточки
  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background: linear-gradient(160deg, #d10a42 0%, #00359f 100%);
    mask-image: url("data:image/svg+xml,%3Csvg width='100%' height='100%' viewBox='0 0 100% 100%'  fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0' y='0' width='100%' height='100%' stroke='black' stroke-width='14' fill='none' /%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    mask-clip: stroke-box;
    content: "";
    opacity: 0;
    transition: opacity $trans-default;
  }
}

// кнопка
.membership-card__btn {
  position: absolute;
  bottom: 68px;
  padding: 27px 44px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  box-shadow: 0 0 0 2px #102654 inset;
  will-change: color, box-shadow;
  transition: color $trans-default, box-shadow $trans-default,
    opacity $trans-default;

  @include focus {
    outline: 3px solid $color-default-black;
  }

  @include vp-767 {
    bottom: 54px;
  }
}

// изменение кнопки при ховере на карточку
.membership-card {
  @include hover-focus {
    &::before {
      opacity: 1;
    }

    & .membership-card__btn {
      color: $color-default-white;
      background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
      box-shadow: 0 0 0 0 #102654;
    }
  }
}
