.photo-swiper {
  position: relative;
  width: 100%;
  margin: -70px 0;
}

.photo-swiper__wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
  padding: 70px 0;
}

.photo-swiper__slide {
  width: calc((100% - 120px) / 4);
}

