$info-color: $color-default-white;

.promo {
  padding: 120px 0 100px;

  @include vp-1199 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 70px 0;
  }
}

.promo__container {
  display: flex;

  @include vp-1199 {
    max-width: 723px;
    margin: 0 auto;
  }

  @include vp-767 {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 1px;
  }
}

.promo__image {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  align-self: stretch;

  @include vp-767 {
    height: 292px;
    min-width: 240px;
  }

  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 28%;
  }
}

.promo__content {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "title date"
    "text text"
    "button button";
  flex-shrink: 0;
  flex-grow: 0;
  width: 500px;
  min-height: 500px;
  padding: 85px 78px;
  color: $info-color;
  background-color: $color-torch-red;

  @include vp-1199 {
    grid-template-columns: 146px 1fr;
    width: 292px;
    min-height: 292px;
    padding: 51px 45px;
  }

  @include vp-767 {
    grid-template-columns: 1fr auto;
    width: 100%;
  }

  & h3 {
    grid-area: title;
    width: min-content;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 11px;
    margin-right: 30px;
    font-size: 82px;
    line-height: 96%;
    color: $info-color;
    text-align: center;

    @include vp-1199 {
      margin-top: -1px;
      margin-bottom: 1px;
      margin-left: 6px;
      margin-right: 20px;
      font-size: 48px;
    }

    @include vp-767 {
      width: auto;
      text-align: left;
    }
  }

  & p {
    grid-area: text;
    margin: 0;
    margin-bottom: 45px;
    font-size: 18px;
    line-height: 150%;

    @include vp-1199 {
      margin-bottom: 30px;
      font-size: 12px;
    }
  }
}

.promo__date {
  margin: 0;
  margin-top: -5px;

  @include vp-1199 {
    margin-top: -4px;
  }
}

.promo__btn {
  grid-area: button;
  width: 100%;
  min-height: 71px;
  font-size: 12px;
  line-height: 14px;
  color: inherit;
  border: 4px solid $info-color;

  @include vp-1199 {
    min-height: 39px;
    padding: 10px;
    font-size: 10px;
    line-height: 12px;
    border: 2px solid $info-color;
  }

  @include focus {
    outline: 3px solid $color-default-black;
  }
}
