.social-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}

.social-list__item {
  margin-left: 11px;
}

.social-list__link {
  display: block;
  color: $color-default-white;
  transition: color $trans-default;

  svg,
  img {
    display: block;
  }

  @include hover {
    color: $color-torch-red;
  }

  @include focus {
    outline: 2px solid $color-light-slate-grey;
  }

  &:not(.crutch):active {
    opacity: 0.6;
  }
}
