.video {
  position: relative;
}

.video__container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.video__cover {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: calc(228 / 364 * 100%);

  @include vp-1199 {
    padding-bottom: calc(167 / 266 * 100%);
  }

  @include vp-767 {
    padding-bottom: calc(167 / 320 * 100%);
  }

  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }

  // затенение обложки
  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color-dark-cerulean, 0.5);
    content: "";
  }
}

// кнопка play
.video__button {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  display: block;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity $trans-default;

  @include vp-1199 {
    transform: translate(-50%, -50%) scale(0.73);
  }

  // центральный круг с иконкой-треугольником
  &::before {
    position: absolute;
    z-index: -1;
    top: 14px;
    left: 14px;
    width: 72px;
    height: 72px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='15' viewBox='0 0 13 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 7.5L0.249999 14.8612L0.25 0.138783L13 7.5Z' fill='white'/%3E%3C/svg%3E%0A"),
      linear-gradient(44.89deg, #003d85 25.38%, #b80027 74.89%);
    background-repeat: no-repeat;
    background-position: 53% 49%, center;
    border-radius: 50%;
    content: "";
  }

  // полупрозрачное кольцо
  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(100deg, #ed0233, #003eb7);
    border-radius: 50%;
    opacity: 0.2;
    content: "";
    mask-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='50' cy='50' r='49' stroke='black' stroke-width='2' fill='none' /%3E%3C/svg%3E");
  }

  // состояния кнопки
  @include hover {
    opacity: 0.8;
  }

  @include focus {
    outline: 3px solid $color-default-black;
  }

  &:not(.crutch):active {
    opacity: 0.6;
  }
}
