// Vendor
// ---------------------------------

@import "vendor/normalize";
@import "vendor/data-tabs";
// Swiper 7.4.1
// @import "vendor/swiper";

// Global
// ---------------------------------

@import "variables";
@import "mixins";
@import "global/fonts";
@import "global/reboot";
@import "global/utils";
@import "global/container";

// Blocks
// ---------------------------------

@import "blocks/header";
@import "blocks/hero";
@import "blocks/btn";
@import "blocks/about";
@import "blocks/video";
@import "blocks/style-image";
@import "blocks/membership";
@import "blocks/tabs";
@import "blocks/membership-card";

// ---------------------------------
