// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-sapphire:                    #102654; // основные заголовки и текст
$color-resolution-blue:             #1c3374; // фон преимущества и отзывов, текст в акциях
$color-dark-cerulean:               #14367a; // для обложки видео
$color-gulf-blue:                   #2a3b63; // тень карточки тренера
$color-egyptian-blue:               #103aae; // акцент на ценах
$color-persian-blue:                #2e35ac; // дополнительный текст преимуществ
$color-chambray:                    #495a7d; // дополнительный текст в карточках абонементов
$color-light-slate-grey:            #74819c; // строчки в форме
$color-spindle:                     #b6bdcc; // дополнительный текст в карточках тренеров
$color-grey:                        #787878; // фон указателя табов в карточках абонементов
$color-dark-gray:                   #afafaf; // кнопки свайпера
$color-whisper:                     #e8e8e8; // тени от цен
$color-ghost-white:                 #f8f9fc; // светлый фон секций
$color-black-russian:               #030a1a; // темный фон футера
$color-torch-red:                   #ed0233; // акцентный цвет фона в промо
$color-crimson:                     #d10a42; // разделители в преимущетсвах и указатель таба в карточках абонементов

// typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

$ff-default:                        "Roboto Condensed", "Tahoma", sans-serif;
$ff-title:                          "Alumni Sans", "Arial Narrow", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease-out;
$trans-default:                     0.3s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-768:                            768px;
$vp-1200:                           1200px;
